<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit File</title>
</head>
<body>
    <h2>Edit Post</h2>
    <p>Post ID: <%= post.id %></p>
    <p>Username: <%= post.username %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea><br>
        <textarea name="title"><%= post.title %></textarea><br>
        <button>Update Post</button>
    </form>
</body>
</html>